@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

:root {
  --color-primary: #6d2e46;
  --color-secondary: #a26769;
  --color-secondary-light: #d5b9b2;
  --color-hell-rosa: #cebebe;
  --color-light-beige: #ece2d0;
  --color-light-beige-50: #f5f1e7;
}
body {
  font-family: "Inter", sans-serif;
  /* background-color: var(--color-light-beige); */
  /* ich lasse das Bild zuerst */
  background-image: url("https://images.pexels.com/photos/9175911/pexels-photo-9175911.jpeg");
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
  font-weight: bold;
}
/* test */
h1 {
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* //---------------------Home Section ------------------------------- */
.hero-main {
  @apply flex w-full grid-cols-2 items-center space-x-10 overflow-hidden px-10;
}
.hero-img-holder {
  @apply aspect-[4/3] w-full overflow-hidden p-10;
}
.hero-img {
  @apply h-full w-full rounded-4xl object-cover;
}
.hero-main-content {
  @apply text-(--color-primary);
}

.hero-main-title {
  @apply p-5 text-8xl/15 font-bold text-(--color-primary);
}
.hero-main-text {
  @apply p-3 text-xl;
}
.hero-main-btn {
  @apply w-3xs rounded-4xl bg-(--color-primary) px-4 py-2 font-bold text-white hover:bg-(--color-secondary);
}
/* //---------------Sigin Page Section ---------------------------- */

/* //---------------------------Sigup Page Section ----------------------------------- */

/* //---------------------------UpdateUser ----------------------------------- */

/* //---------------------------Add Event ----------------------------------- */

/* //--------------------------Event Form ----------------------------------- */

/* //---------------------------EventDatail----------------------------------- */
