@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}
body {
  font-family: "Inter", sans-serif;
  /* background-color: var(--color-light-beige); */
  /* ich lasse das Bild zuerst */
  background-image: url(https://images.pexels.com/photos/9175911/pexels-photo-9175911.jpeg);
}
/*--------- COLORS ----------*/
:root {
  --color-primary: #6d2e46;
  --color-secondary: #a26769;
  --color-secondary-light: #d5b9b2;
  --color-hell-rosa: #cebebe;
  --color-light-beige: #ece2d0;
  --color-light-beige-50: #f5f1e7;
}

/*--------- HEADLINES ----------*/
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
  font-weight: bold;
}

h1 {
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*--------- HOME ----------*/
/*--------- HEADER ----------*/
/*--------- FOOTER ----------*/
/*--------- EVENT CARDS ----------*/
/*--------- EVENT LIST ----------*/
/*--------- SIGNIN ----------*/
/*--------- SIGNUP ----------*/
/*--------- UPDATEUSER ----------*/
/*--------- PLACEHOLDER ----------*/
.error::placeholder {
  color: red;
}
