@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-light-beige-50);
  /* ich lasse das Bild zuerst */
  /* background-image: url(https://images.pexels.com/photos/9175911/pexels-photo-9175911.jpeg); */
}

/*--------- COLORS ----------*/

:root {
  --color-primary: #6d2e46;
  --color-secondary: #a26769;
  --color-secondary-light: #d5b9b2;
  --color-hell-rosa: #cebebe;
  --color-light-beige: #ece2d0;
  --color-light-beige-50: #f5f1e7;
  --color-alert: #993f40;
  --color-success: #2e6d69;
}

/*--------- HEADLINES ----------*/

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
  font-weight: bold;
}

h1 {
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*--------- HOME ----------*/
/* //---------------------Home Section ------------------------------- */
.hero-main {
  @apply mx-10 grid min-h-screen grid-cols-1 md:grid-cols-2;
}
.hero-img-holder {
  @apply h-full w-full py-10;
}
.hero-img {
  @apply h-full w-full rounded-[5rem] object-cover;
}
.hero-main-content {
  @apply flex flex-col justify-center p-8 text-(--color-primary);
}

.hero-main-title {
  @apply p-5 text-8xl/15 font-bold text-(--color-primary);
}
.hero-main-text {
  @apply p-3 text-xl;
}
.hero-main-btn {
  @apply w-3xs rounded-4xl bg-(--color-primary) px-4 py-2 font-bold text-white hover:bg-(--color-secondary);
}
/*--------- HEADER ----------*/
/*--------- FOOTER ----------*/
/*--------- EVENT CARDS ----------*/
/*--------- EVENT LIST ----------*/
/*--------- SIGNIN ----------*/
/*--------- SIGNUP ----------*/
/*--------- UPDATEUSER ----------*/
/*--------- PLACEHOLDER ----------*/
.error::placeholder {
  color: var(--color-alert);
}
